<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Spring Boot with Angular 2 AOT and Webpack</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
</head>
<body>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
    <div class="starter-template">
        <hello-world-app></hello-world-app>
    </div>
</div>
</body>
</html>
